#StickerZone{
    background: none;
    display: flex;
    flex-wrap:wrap;
    max-height: 90%;
    border: none;
}

#StickerZone div{
    background: #111111b8;
    margin: 18px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:20px;
    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, 0.531);
}

#StickerZone div img{
    object-fit: scale-down;
}